# Downloads gerados pelo programa
downloads/*
!downloads/.gitkeep

# Arquivos temporários
temp/*
!temp/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# VS Code
.vscode/

# JetBrains
.idea/

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db
desktop.ini
*iniciar.bat
src/core/racionais.mp4
src/core/racionais.webm
